$color-1: #835fa5;
$color-2: #da905e;
$color-3: #9ac856;
$color-4: #4a5a94;
$color-5: #d5c956;
$color-6: #276f72;
$primary-text-color: white;

html
{
	font-size: 62.5%;
}

body
{
	font-size: 1.6rem;
	font-family: "Fira Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.clearfix
{
	clear: both;
}